html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  font-family: 'Courier', Courier, monospace;
  margin: 2em;
  /*padding: 1em;*/
  color: (0, 0, 255);
  background-color: (255);
  }
